<section (mouseout)="byeBye()">
    <p>hola</p>

    <div class="screen1"></div>
    <div class="tarjet">
        <div class="zonep">
            <div class="video" [style.backgroundImage]="imagex">
                <div class="cuadricula">
                    <div (mouseover)="moverMexico(0)"></div>
                    <div (mouseover)="moverMexico(1)"></div>
                    <div (mouseover)="moverMexico(2)"></div>
                    <div (mouseover)="moverMexico(3)"></div>
                    <div (mouseover)="moverMexico(4)"></div>
                    <div (mouseover)="moverMexico(5)"></div>
                    <div (mouseover)="moverMexico(6)"></div>
                    <div (mouseover)="moverMexico(7)"></div>
                    <div (mouseover)="moverMexico(8)"></div>
                </div>


                <!-- <video autoplay>
                    <source src="./assets/video/yo.webm" type="video/webm">
                </video> -->
            </div>
            <h1>Cesar Flores<br/>Programador</h1>
            <div class="programo">
                <span>Desarrollos en : </span>
                <div class="listhide">
                    <ul>
                        <li>Angular</li>
                        <li>Android</li>
                        <li>C#</li>
                        <li>Java</li>
                        <li>Javascript</li>
                        <li>TypeScript</li>
                        <li>HTML</li>
                        <li>PHP</li>
                        <li>Python</li>
                        <li>Arduino</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="zonecool">

            <div class="bio">
                <p><i class="material-icons">account_circle</i> <strong> César Eduardo Flores Ramón</strong></p>

                <p><i class="material-icons">location_on</i> <strong> Tuxtla Gutiérrez, chiapas, México</strong> </p>

                <p><i class="material-icons">school</i> <strong> Ingenieria en sistemas computacionales en el Instituto tecnológico de Tuxtla Gutiérrez.</strong>
                </p>
                <p><i class="material-icons">computer</i> <strong> Programación front end</strong>.</p>
                <p><i class="material-icons">web</i> Blog <a href="https://unprogramador.com" target="_blank">un programador</a>, la idea es enseñar programación de forma muy simple. </p>

            </div>
            <div class="menu">
                <h2>y entonces... ¿que se hacer?</h2>
                <ul>
                    <li><a routerLink="/development">Conocimientos de programación</a></li>
                    <li><a routerLink="/work">Mis Experiencias laborales</a></li>
                    <li><a routerLink="/project">Mis proyectos</a></li>
                    <li><a routerLink="/contact">Ponerse en contacto</a></li>
                </ul>

            </div>


        </div>

    </div>
    <div style="opacity: 0" class="ims">
        <img src="/assets/img/yo/1.jpg" />
        <img src="/assets/img/yo/2.jpg" />
        <img src="/assets/img/yo/3.jpg" />
        <img src="/assets/img/yo/4.jpg" />
        <img src="/assets/img/yo/5.jpg" />
        <img src="/assets/img/yo/6.jpg" />
        <img src="/assets/img/yo/7.jpg" />
        <img src="/assets/img/yo/8.jpg" />
        <img src="/assets/img/yo/9.jpg" />
    </div>



</section>