section {
    width: 100%;
    height: 90vh;
    overflow: hidden !important;
    position: relative;
    margin: 0;
    padding: 0;
}

.screen1 {
    width: 100%;
    height: 40%;
    position: absolute;
    top: -100vh;
    animation-delay: 500ms;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    animation-fill-mode: forwards;
    animation-name: yoscreen;
    background-color: #219687;
}

@keyframes yoscreen {
    to {
        top: 0;
    }
}

video {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: -4vw;
    animation-delay: 8s;
    animation-direction: 1s;
    animation-name: videos;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes videos {
    0% {}
    80% {}
    100% {
        opacity: 0;
    }
}

.tarjet {
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    background-color: white;
    z-index: 2;
    margin-top: 10vh;
    position: absolute;
    background: linear-gradient(-70deg, #37b597 0%, transparent 0%), linear-gradient(-70deg, #f1f1f1 100%, transparent 33%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    left: -100vw;
    animation-delay: 2s, 3s;
    animation-duration: 1s, 2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275), cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-name: ntarjet, colorani;
    animation-fill-mode: forwards, forwards;
    -webkit-box-shadow: 17px 11px 23px -6px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 17px 11px 23px -6px rgba(0, 0, 0, 0.11);
    box-shadow: 17px 11px 23px -6px rgba(0, 0, 0, 0.11);
}

@keyframes colorani {
    100% {
        background: linear-gradient(-70deg, #37b597 70%, transparent 0%), linear-gradient(-70deg, #f1f1f1 100%, transparent 33%);
    }
}

@keyframes ntarjet {
    0% {
        left: -100vw;
    }
    100% {
        left: 0;
    }
}

.zonep {
    min-height: 50vh;
    width: 25vw;
    display: block;
    float: left;
    margin-left: -35vw;
    animation-name: aparecio;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
}

@keyframes aparecio {
    to {
        margin-left: 0;
    }
}

.video {
    width: 10vw;
    height: 10vw;
    position: relative;
    display: block;
    background-image: url('/assets/img/yo/5.jpg');
    background-size: cover;
    margin: 10px auto;
    overflow: hidden;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.cuadricula {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.cuadricula div {
    padding: 0;
    margin: 0;
    width: 3vw;
    height: 3vw;
    display: inline-block;
}

.zonecool {
    float: left;
    width: 40vw;
    display: block;
    padding: 20px 5vw;
    opacity: 0;
    animation-name: apareciopuf;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
}

@keyframes apareciopuf {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.programo {
    width: 100%;
    float: left;
    margin: 20px auto;
    text-align: center;
    padding-left: 20%;
}

.programo span {
    height: 40px;
    font-size: 100%;
    font-weight: bold;
    padding-top: 12px;
    float: left;
}

ul li {
    list-style: none;
    text-decoration: none;
    width: auto;
}

.programo ul li {
    height: 40px;
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
    font-family: 'Ubuntu Mono', monospace;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.programo ul {
    animation-name: upup;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes upup {
    0% {
        margin-top: 0px;
    }
    8% {
        margin-top: 0px;
    }
    10% {
        margin-top: -50px;
    }
    18% {
        margin-top: -50px;
    }
    20% {
        margin-top: -100px;
    }
    28% {
        margin-top: -100px;
    }
    30% {
        margin-top: -150px;
    }
    38% {
        margin-top: -150px;
    }
    40% {
        margin-top: -200px;
    }
    48% {
        margin-top: -200px;
    }
    50% {
        margin-top: -250px;
    }
    58% {
        margin-top: -250px;
    }
    60% {
        margin-top: -300px;
    }
    68% {
        margin-top: -300px;
    }
    70% {
        margin-top: -350px;
    }
    78% {
        margin-top: -350px;
    }
    80% {
        margin-top: -400px;
    }
    88% {
        margin-top: -400px;
    }
    90% {
        margin-top: -450px;
    }
    95% {
        margin-top: -450px;
    }
    100% {
        margin-top: 0px;
    }
}

.listhide {
    height: 50px;
    overflow: hidden;
    width: 150px;
    float: left;
}

.bio {
    width: 100%;
    text-align: left;
    line-height: 2em;
    color: white;
}

strong {
    font-weight: normal;
}

.bio p {
    margin-bottom: 5px;
}

.menu {
    width: 100%;
    text-align: left;
}

a {
    color: #2e2e2e;
    transition-duration: 800ms;
    transition-timing-function: linear;
}

a:hover {
    color: black;
    font-weight: bold;
}

.menu ul li {
    background-color: rgba(255, 255, 255, 0);
    padding: 2% 5%;
    transition-duration: 700ms;
    transition-timing-function: ease;
}

.menu ul li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

.menu ul li:hover a {
    color: #219687;
}

.pre {
    font-family: 'Spectral SC', serif;
    width: 80%;
    text-align: right;
    padding: 2vw 3vw;
    background-color: #f3f3f3;
    border: 1px solid #d1d1d1;
    -webkit-box-shadow: inset 0px 0px 23px 4px rgba(115, 115, 115, 0.2);
    -moz-box-shadow: inset 0px 0px 23px 4px rgba(115, 115, 115, 0.2);
    box-shadow: inset 0px 0px 23px 4px rgba(115, 115, 115, 0.2);
}

pre p {
    width: 100%;
}

i {
    vertical-align: text-bottom;
}

@media(max-width: 1400px) {
    .video {
        width: 15vw;
        height: 15vw;
    }
    .cuadricula div {
        width: 4.4vw;
        height: 4.4vw;
    }
    .zonecool {
        margin-left: 2vw;
    }
    @keyframes colorani {
        100% {
            background: linear-gradient(-70deg, #37b597 66%, transparent 0%), linear-gradient(-70deg, #f1f1f1 100%, transparent 33%);
        }
    }
}

@media(max-width: 1024px) {
    .zonecool {
        margin-left: 5vw;
    }
}

@media(max-width: 800px) {
    .cuadricula {
        display: none;
    }
    section {
        height: 130vh;
    }
    .zonep {
        width: 100%;
        height: auto;
        float: initial;
        display: block;
        min-height: 42vh;
    }
    .screen1 {
        height: 24.5vh;
    }
    .zonecool {
        width: 100%;
        height: auto;
        float: initial;
        display: block;
        padding: 20px 2vw;
        margin-left: 0vw;
    }
    .tarjet {
        display: block;
        margin-top: 5vh;
    }
    @keyframes colorani {
        to {
            background: linear-gradient(0deg, #37b597 86%, transparent 0%), linear-gradient(0deg, #f1f1f1 100%, transparent 33%);
        }
    }
    .video {
        width: 25vw;
        height: 25vw;
    }
    .programo {
        padding-left: 10%;
    }
}
@media (max-width: 700px) and (max-height: 500px) {
    section {
        min-height: initial;
        height: auto;

    }
    .tarjet{
        position: initial;
    }
    div img{
        width: 100%;
    }
    .ims{
        width: 0px;
        height: 0px;
    }
    .zonep {
        min-height: 40vh;
    }
}

@media (max-height: 600px) {
    section {
        min-height: 140vh;
    }
    .zonep {
        min-height: 40vh;
    }
}


@media screen and (max-width: 400px) and (min-width: 300px) {
    section {
        min-height: 180vh;
    }
}