.content {
    display: grid;
    grid-gap: 0%;
    grid-template-columns: repeat(2, 46%);
    height: auto;
    width: 100%;
    align-content: space-between;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

.loading {
    position: absolute;
    top: 45%;
    left: 45%;
}

.postcard {
    margin-top: 1vh;
    position: relative;
    width: 100%;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    animation-name: iz;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.postcard:nth-child(2n) {
    animation-name: dr;
}

@keyframes iz {
    from {
        margin-left: -50vh;
    }
    to {
        margin-left: 0;
    }
}

@keyframes dr {
    from {
        margin-left: 150vh;
    }
    to {
        margin-left: 0;
    }
}

.postcard img {
    width: 100%;
    height: auto;
}

.info {
    display: none;
    opacity: 0;
    transition-delay: 200ms;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.post-info {
    width: 35%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f3f3f3;
    transition-duration: 400ms;
    transition-timing-function: linear;
}

@keyframes minimiza {
    from {
        width: 100%;
    }
    to {
        width: 30%;
    }
}

.postcard:hover .post-info {
    width: 100%;
}

.postcard:hover .info {
    opacity: 1;
    display: block;
    transition-delay: 0;
    animation-name: puff;
    animation-duration: 700ms;
    animation-timing-function: linear;
}

@keyframes puff {
    0% {
        display: none;
        opacity: 0;
    }
    70% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.postcard:hover .post-info_title {
    margin-top: 5%;
}

.post-info_title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
    margin-top: 40%;
}

.post-info_date {
    color: rgba(0, 0, 0, 0.4);
    font-size: x-small;
}

.post-info_describe {
    position: absolute;
    bottom: 5%;
    text-align: justify;
    width: 80%;
    left: 10%;
}

.masurl {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition-duration: 500ms;
    transition-timing-function: linear;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.masurl:hover {
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: #f3f3f3;
    -webkit-box-shadow: -11px 11px 23px -2px rgba(143, 140, 143, 0.37);
    -moz-box-shadow: -11px 11px 23px -2px rgba(143, 140, 143, 0.37);
    box-shadow: -11px 11px 23px -2px rgba(143, 140, 143, 0.37);
    width: 14%;
}

@media(max-width: 1024px) {
    .masurl {
        width: 20%;
    }
    .content {
        grid-gap: 1%;
        grid-template-columns: 45%;
    }
    .post-info {
        width: 50%;
    }
    .postcard {
        min-height: 250px;
    }
    .post-info_describe {
        bottom: 2%;
        width: 90%;
        left: 5%;
    }
    .post-info_title {
        margin-top: 20%;
    }
}

@media(max-width: 800px) {
    .content {
        grid-gap: 1%;
        grid-template-columns: 90%;
    }
    .masurl {
        width: 40%;
    }
    .post-info {
        width: 50%;
    }
    .postcard {
        min-height: 300px;
    }
    .post-info_describe {
        bottom: 2%;
        width: 90%;
        left: 5%;
    }
    .post-info_title {
        margin-top: 20%;
    }
}