<section>
    <div class="content">
        <img class="loading" src="../../assets/img/loading.gif" *ngIf="infoWordpress == null" />
        <div class="postcard" *ngFor="let info of infoWordpress; let i = index;">
            <a href="{{info.link}}" target="_blank">
                <img src="{{mapImg.get(info.featured_media)}}" />
                <div class="post-info">
                    <h2 class="post-info_title">{{info.title.rendered | quitarSlash}}</h2>
                    <div class="info">
                        <span class="post-info_date">
                            {{info.date | date}}

                    </span>
                        <div class="post-info_describe">
                            {{info.excerpt.rendered | quitarTag}}
                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>
    <div class="masurl">
        <a href="{{yoUrl}}" target="_blank">
            <p><b>Más contenidos publicados en unprogramador.com</b></p>
        </a>
    </div>

</section>