/* You can add global styles to this file, and also import other style files */


/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    background-color: white;
}

section {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.loading {
    position: absolute;
    top: 45%;
    left: 40%;
}