<section>
    <mat-tab-group>
        <mat-tab label="Front End">
            <div class="content">
                <div class="tecno" *ngFor="let fend of front; let o = index;" [ngStyle]="{'animation-delay': o*100+'ms'}">
                    <h2>{{fend.tec}}</h2>
                    <img src="./assets/img/{{fend.tec}}.jpg" alt="Desarrollo en {{fend.tec}}" />
                    <div class="infos">
                        <p>Desarrollados {{fend.tot}} proyectos.</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="BD">
            <div class="content">
                <div class="tecno" *ngFor="let bdn of bd">
                    <h2>{{bdn.tec}}</h2>
                    <img src="./assets/img/{{bdn.tec}}.jpg" alt="Desarrollo en {{bdn.tec}}" />
                    <div class="infos">
                        <p>Manejo de base de datos en proyectos con {{bdn.tec}}</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Otros">
            <div class="content">
                <div class="tecno" *ngFor="let ot of other">
                    <h2>{{ot.tec}}</h2>
                    <img src="./assets/img/{{ot.tec}}.jpg" alt="Desarrollo en {{ot.tec}}" />
                    <div class="infos">
                        <p>Otros proyecto con {{ot.tec}}</p>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>